extends layout

block content 
  h1= title 
  p welcome to #{title}
  if user 
    p #{user.name}
    a(href="/logout", class="btn btn-link") logout 
  else 
   .row 
    .rol-12 
     a(class="btn btn-link",href="/logout") please Login 
  